
<div class="jumbotron" style="background-color: black; display: inline-block;">
    <p>Total documents in database is <%= documentCount.count %></p>

</div>


<div class="jumbotron" style="background-color: black; display: inline-block;">
    <p>Total employees in database is <%= employeeCount.count %></p>

</div>

<div class="jumbotron" style="background-color: black;">
    <p>Total categories in database is <%= categoryCount.count %></p>

</div>
