
<div class="jumbotron" style="background-color: black; display: inline-block;">
    <p>Total documents created is <%= documentCount.count %></p>

</div>

<div class="jumbotron" style="background-color: black; display: inline-block;">
    <p>Total categories in database is <%= categoryCount.count %></p>

</div>

<div class="jumbotron" style="background-color: black; display: inline-block;">
    <p>Total employees created is <%= employeeCount.count %></p>

</div>

<div class="jumbotron" style="background-color: black; display: inline-block;">
    <p>Total applications created is <%= applicationCount.count %></p>

</div>
