
<div class="jumbotron" style="background-color: black; display: inline-block;">
    <a href="/documents/"><p>Total documents created is <%= documentCount.count %></p></a>

</div>

<div class="jumbotron" style="background-color: black; display: inline-block;">
    <a href="/categories/"><p>Total categories in database is <%= categoryCount.count %></p></a>

</div>

<div class="jumbotron" style="background-color: black; display: inline-block;">
    <a href="/employees/"><p>Total employees created is <%= employeeCount.count %></p></a>

</div>

<div class="jumbotron" style="background-color: black; display: inline-block;">
    <a href="/applications/"><p>Total applications created is <%= applicationCount.count %></p></a>

</div>
